NODE_ENV=development # set environment, set 'development' for development, set 'prod' for production
HUSKY_SKIP_INSTALL=<skip husky install>
VITE_BACKEND_URL=<backend url> # e.g. http://localhost:8080/api
VITE_SOCKET_URL=<socket url> # e.g. ws://localhost:8080
VITE_IS_WEB_CLIENT_ACTIVE=<true|false>
VITE_GA_MEASUREMENT_ID=<google analytics measurement id>
VITE_GTM_ID=<google tag manager id>
VITE_BUGSNAG_API_KEY=<bugsnag api key>